@import "./reset.less";

@bg-red : #FF0000;

@light-text: #9c9c9c;



a:hover,
a:focus,
a:visited {
	text-decoration: none !important;
}

.main-container {
	width: 100%;
	max-width: 375px;
	margin-left: auto;
	margin-right: auto;
}

.header-container {
	background-color: @bg-red;
}

.header-search {
	padding-top: 7px;
	padding-bottom: 7px;
	.form-group {
		margin: 0;
		label {
			display: none;
		}
	}
	.search-input {
		background-image: url("/static/images/search.svg");
		background-repeat: no-repeat;
		background-position: 7px center;
		background-size: 16px;

		padding-left: 30px;
	}
}

.body-container {
	min-height: 100vh;
	min-height: calc( 100vh - 52px );
	&.empty {
		background-image: url("/static/images/mds-logo.svg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 65%;
	}
	&.noresult {
		background-image: url("/static/images/search-not-found.svg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 65%;
	}
	&.empty,
	&.noresult {
		> * {
			display: none;
		}
	}
}

.toolbar {
	margin-bottom: 0.7rem;
	.search-state {
		display: flex;
		margin-bottom: 0.7rem;
		.search-q {
			margin-bottom: 0;
			font-size: 1.7em;
			font-weight: bolder;
			margin-right: 15px;
			&:before,
			&:after {
				content:"\"";
			}
		}
		.search-q + p {
			color: @light-text;
		    margin-bottom: 0;
		    padding-top: 0.7em;
		    flex-grow: 1;
		}
	}
	.sorter {
		.sort {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 0;
			> label {
				margin-bottom: 0;
				margin-right: 0.5em;
				color: @light-text;
				font-size: 0.8em;
				line-height: 35px;
			}
			> label + .form-control {
				width: auto;
				font-size: 0.8em;
				line-height: 35px;
				font-weight: bold;
			}
		}
	}
}

.product-list {
	padding-left: 5px;
	padding-right: 5px;
	.product-item {
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 1rem;
		.card {
			border: none;
			.item-img-list {
				position: relative;
				overflow: hidden;
				margin-bottom: 0.25em;
				.item-img {
					width: 100%;
					&.hover-img {
						position: absolute;
						top: 0;
						left: 0;
						opacity: 0;
					}
				}
			}
			.card-body {
				padding: 5px 0 0;
				.item-brand {
					font-size: 0.9em;
					line-height: 1.2em;
					margin-bottom: 0.25em;
					text-transform: uppercase;
				}
				.item-name {
					font-size: 0.9em;
					line-height: 1.2em;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					margin-bottom: 0.25em;
					color: @light-text;
					&:hover {
						cursor: pointer;
						color: darken(@light-text, 30%);
					}
				}
				.pricing {
					display: flex;
					flex-direction: column;
					.effective-price,
					.base-price {
						.price {
							font-size: 0.9em;
						}
					}
					.effective-price + .base-price {
						line-height: 0.9em;
						.price {
							color: @light-text;
							font-size: 0.7em;
							text-decoration: line-through;
						}
					}
				}
			}
			&:hover {
				.item-img {
					&.hover-img {
						opacity: 1;
					}
				}
			}
		}
	}
}
